.profile__input {
    width: 320px;
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    text-align: end;
    color: #FFFFFF;
    background-color: #202020;
    box-sizing: border-box;
    border: none;
    outline: none;
}

.profile__input:focus {
    border-right: 1px solid rgb(255, 255, 255);
}