@import url(./__container/movies-card-list__container.css);
@import url(./__more/movie-card-list__more.css);
@import url(./__preloader-container/movies-card-list__preloader-container.css);
.movies-card-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}