@import url(./__image/movies-card__image.css);
@import url(./__footer/movies-card__footer.css);
@import url(./__description-container/movies-card__description-container.css);
@import url(./__title/movies-card__title.css);
@import url(./__like-button/movies-card__like-button.css);
@import url(./__underline/movies-card__underline.css);
@import url(./__duration/movies-card__duration.css);
@import url(./__like-button/_active/movies-card__like-button_active.css);
@import url(./__delete-button/movies-card__delete-button.css);
.movies-card {
    margin: 0;
    padding: 0;
}

.movies-card:hover .movies-card__delete-button {
    opacity: 1;
}