.about-project__timeline-container {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto auto;
    row-gap: 14px;
    margin: 110px 0 110px 0;
    min-height: 67px;
    box-sizing: border-box;
    grid-auto-flow: column;
}

@media screen and (max-width:768px) {
    .about-project__timeline-container {
        margin: 93px 0 90px 0;
    }
}

@media screen and (max-width:320px) {
    .about-project__timeline-container {
        margin: 20px 0 70px 0;
        grid-template-columns: 35% 65%;
    }
}