.login__submit {
    margin: 157px 0 0 0;
    width: 100%;
    box-sizing: border-box;
    background: #4285F4;
    color: white;
    border: none;
    min-height: 45px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    transition: 0.3s;
    cursor: pointer;
}

.login__submit:hover {
    opacity: 0.85;
}

@media screen and (max-width:520px) {
    .login__submit {
        margin: 245px 0 0 0;
        font-size: 12px;
        line-height: 15px;
    }
}