.about-me__title {
    margin: 119px 0 0 0;
    padding: 0;
    font-size: 22px;
    line-height: 1.22;
    font-weight: normal;
}

@media screen and (max-width:768px) {
    .about-me__title {
        margin: 90px 0 0 0;
    }
}

@media screen and (max-width:320px) {
    .about-me__title {
        margin: 70px 0 0 0;
        font-size: 18px;
        line-height: 1.22
    }
}