.search-form__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px 0 0 0;
    padding: 0;
    width: 100%;
    height: 72px;
    border: 1.5px solid hsl(0, 0%, 67%, 0.2);
    box-sizing: border-box;
    border-radius: 8px;
}

@media screen and (max-width:320px) {
    .search-form__container {
        height: 56px;
    }
}