@import url(./__container/header__container.css);
@import url(./__logo/header__logo.css);
@import url(./_type/header_type_main.css);
@import url(./_type/header_type_deafault.css);
@import url(./__links-container/header__links-container.css);
@import url(./__link/header__link.css);
@import url(./__container/_type/header__container_type_auth.css);
@import url(./__language-button/header__language-button.css);
@import url(./__language-button/_active/header__language-button_active.css);
@import url(./__phrase/header__phrase.css);
.header {
    position: static;
}

@media screen and (max-width:768px) {
    .header {
        position: sticky;
        top: 0;
        z-index: 1;
    }
}