.popup__form {
    margin: 0 auto;
    min-width: 358px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 995px) {
    .popup__form {
        min-width: 238px;
    }
}