.page-not-found__title {
    padding: 0;
    margin: 246px 0 0 0;
    font-weight: normal;
    font-size: 140px;
    line-height: 1.20;
    text-align: center;
}

@media screen and (max-width:768px) {
    .page-not-found__title {
        margin: 408px 0 0 0;
    }
}

@media screen and (max-width:320px) {
    .page-not-found__title {
        margin: 329px 0 0 0;
        font-size: 80px;
        line-height: 1.21;
    }
}