.navigation__burger-icon {
    display: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    transition: 1s;
}

@media screen and (max-width:768px) {
    .navigation__burger-icon {
        border: none;
        background-image: url(../../../images/burger.svg);
        background-color: transparent;
        background-size: contain;
        background-position: center;
        display: block;
        width: 44px;
        height: 44px;
    }
}

@media screen and (max-width:320px) {
    .navigation__burger-icon {
        width: 37px;
        height: 39px;
    }
}